@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewData["Title"] = "Classes";
}

<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
<h1>Classes</h1>
