@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewData["Title"] = "Classes";
}

@model ElevatedTutors.Models.StudentClassesViewModel

<h2>Classes</h2>

@if (Model.Classes.Any())
{
    <ul>
        @foreach (var c in Model.Classes)
        {
            <li>
                <strong>@c.SubjectName</strong><br />
                Tutor: @c.TutorUser.User.FirstName @c.TutorUser.User.Surname<br />
                @c.SubjectDesc
            </li>
        }
    </ul>
}
else
{
    <p>No subjects assigned yet.</p>
}
